.homeContainer {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100vh;

    .homeTable {
        border-collapse: collapse;
        margin: 25px 0;

        thead tr {
            background-color: #1976d2;
            color: #fafafa;
        }

        th, td {
            padding: 12px 15px;
            width: 8rem;
        }

        tbody tr {
            border-bottom: 1px solid #dddddd;

            &:nth-of-type(even) {
                background-color: #bbdefb;
            }

            &:last-of-type {
                border-bottom: 2px solid #1976d2;
            }

            
        }
    }    
}